.content-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.8em;
    min-width: 200px;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.headder {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: bold;
    opacity: 0.8;
}

.content-table th,
.content-table td {
    padding: 7px 15px;
}

.contemt-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight:bold;
    color: #009879;
}

.delete {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.35s, 
    color 0.35s;
}

.delete:hover {
    background-color: black;
    color: white;
    transform: translate3d(-5px);
}

.delete:active {
    opacity: 0.7;
}

.submit {
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.35s, 
    color 0.35s;
}
.submit:hover {
    background-color: white;
    color: black;
    transform: translate3d(-5px);
}

.submit:active {
    opacity: 0.7;
}

button {
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.35s, 
    color 0.35s;
}

button:hover {
    background-color: black;
    color: white;
    transform: translate3d(-5px);
}

button:active {
    opacity: 0.7;
}

.loading-spinner {
    display: none;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
