*{
    box-sizing: border-box;
    margin: 1;
    padding: 5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-style: italic;
}

label{
    font-style: italic;
}

input {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.35s, 
      color 0.35s;
  }
  input:hover {
    background-color: white;
    color: black;
    transform: translate3d(-5px);
  }
  
  input:active {
    opacity: 0.7;
  }