{% extends "base.html" %}

{% block title %}Adding an item{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='add.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>What do you wanna add?</h1>
    <p>Input the info about the ingredient</p>
    <form action="/submit" method="post">
        <label class="name" for="name">Item Name:</label><br>
        <input class="textbox" type="text" placeholder="ex. Onion" id="name" name="name" required><br>
        
        <label for="expiry_date">Expiry Date:</label><br>
        <input class="textbox" type="date" id="expiry_date" name="expiry_date" required><br>

        <input class="submit" type="submit" value="Add to fridge!">
    </form>

    <a href="/fridge">
        <button>Go back to fridge</button>
      </a>
      
    <!-- In your HTML template for '/some_other_page' -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
