<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo">Dr.Racket</div>
        <div class="nav-items">
          <a href="http://127.0.0.1:5500/hack-the-change2023.html">Home</a>
          <a href="/">About</a>
          <a href="ADD_RECIPE_LINK">Recipe</a>
    
        </div>
      </nav>
<div id="content">
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
