<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
    </div>
</div>
    <p>
      Shop early for the <strong>best selection</strong> of 
      <u>holiday</u> favourites. <span class="span-example">Shop now</span> &#62;
    </p>
</body>
</html>
