<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/" style="text-decoration: none; color: inherit;">
            Dr.Racket
            </a>
        </div>
        <div class="nav-items">
          <a href="/">Home</a>
          <a href="https://github.com/Yarik-Popov/hack-the-change-2023/blob/main/README.md" target="_blank">About</a>
          <a href="https://sky-stew-7af.notion.site/a9b44aaa2f4048f891eaad96f07cd854?v=80747952dcf94324ba9ccdcddacb8744&pvs=4" target="_blank">Recipe</a>
    
        </div>
      </nav>
<div id="content">
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
