{% extends "base.html" %}

{% block title %}Fridge{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='fridge.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Fridge</h1>
    <p>Here you can find all the food you have in your fridge.</p>
        <table class="content-table">
            <thread>
                <tr class="headder">
                    <th>Cook</th>
                    <th>Ingredient</th>
                    <th>Expiry Date</th>
                    <th>Delete</th>
                </tr>
            </thread>
            <tbody>
                    {% for item in items %}
                    <tr>
                        <td><input type="checkbox" name="items" id="{{item.id}}" value="{{item.name}}" checked></td>
                        <td><label for="{{item.id}}"> {{item.name}}</label> </td>
                        <td>{{item.expiry_date.strftime("%b %d, %Y")}}</td>
                        <td>
                            <form action="{{ url_for('delete_item', item_id=item.id) }}" method="POST">
                                <input class="delete" type="submit" value="Delete">
                            </form>
                            </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        <input class="submit" type="submit" value="Generate recipe!">
        <a href="/add_item">
            <button>Add something!</button>
        </a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
{% endblock %}
