{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
  <div class="index-content">
    
    <section class="hero">
      <div class="hero-container">
        <h1>Have near-spoiled food but don't know what to make?</h1>
        <div class="column-left"></div>
        
        <p>Our project uses AI to formulate a recipe that you can use to make yourself a nice meal and reduce food waste.</p>
      </div>
      <a href="ADD_FRIDGE_LINK">
        <button>Get Started</button>
      </a>
  
    </section>

  </div>
{% endblock %}

